@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'custom1';
    src: url('./assets/fonts/MarkaziText-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'custom2';
    src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
}